<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quera | New Post</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <h1>Quera New Post</h1>
    <div class="form">
<form method="post" action="/posts">
    <label class="username" for="username">Username : </label>
    <input class="name" id="username" type="text" name="username" placeholder="enter your username">
    <br>
    <br>
    <label class="content-name" for="content">Content : </label>
    <textarea class="content" name="content" id="content" placeholder="Enter your content"></textarea>
    <br>
    <br>
    <button class="button">Submit Post</button>
</form>
    </div>
</body>
</html>