<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quera | Post</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <h1>Post By @<%= post.username %></h1>
    <div class="user">
        <p class="id">ID : <%= post.id %> </p>
        <h3 class="username">@<%= post.username %> </h3>
        <h4 class="content"> <%= post.content %> </h4>
        <button><a href="http://localhost:3000/posts">Back to Home page</a></button>
    </div>
    
</body>
</html>